extends ../layout

block content
  .container
    .panel
      .panel-body
        if messages.success
          .alert.alert-success(role='alert')
            for success in messages.success
              div= success.msg
        if messages.error
          .alert.alert-danger(role='alert')
            for error in messages.error
              div= error.msg

        form.form-horizontal(method='POST', action='/account?_method=PUT')
          legend Informations
          .form-group
            label.col-sm-3(for='email') Email
            .col-sm-7
              input.form-control(type='email', name='email', id='email', value=user.email)
          .form-group
            label.col-sm-3(for='pseudo') Pseudo
            .col-sm-7
              input.form-control(type='text', name='pseudo', id='pseudo', value=user.pseudo)
          .form-group
            label.col-sm-3(for='name') Nom
            .col-sm-7
              input.form-control(type='text', name='name', id='name', value=user.name)
          .form-group
            label.col-sm-3(for='prenom') Prenom
            .col-sm-7
              input.form-control(type='text', name='prenom', id='prenom', value=user.prenom)
          .form-group
            label.col-sm-3 Genre
            .col-sm-4
              label.radio-inline.radio.col-sm-4
                input(type='radio', checked=(user.gender == 'male'), name='gender', value='male', data-toggle='radio')
                span Homme
              label.radio-inline.col-sm-4
                input(type='radio', checked=(user.gender == 'female'), name='gender', value='female', data-toggle='radio')
                span Femme
          .form-group
            label.col-sm-3(for='age') Age
            .col-sm-7
              input.form-control(type='number', name='age', id='age', value=user.age)
          .form-group
            label.col-sm-3(for='location') Coordonnées
            .col-sm-7
              input.form-control(type='text', name='location', id='location', value=user.location)
          .form-group
            label.col-sm-3(for='website') Site internet
            .col-sm-7
              input.form-control(type='text', name='website', id='website', value=user.website)
          .form-group
            label.col-sm-3 Photo
            .col-sm-7
              input.form-control(type='file', name='photo', id='photo', value=user.photo)
          .form-group
            label.col-sm-3 
            .col-sm-4
              img(src=user.photo, class='profile', width='100', height='100')
          .form-group
            .col-sm-offset-3.col-sm-4
              button.btn.btn-success(type='submit') Mettre à jour

    .panel
      .panel-body
        form.form-horizontal(method='POST', action='/account?_method=PUT')
          legend Changer de mot de passe
          .form-group
            label.col-sm-3(for='password') Nouveau mot de passe
            .col-sm-7
              input.form-control(type='password', name='password', id='password')
          .form-group
            label.col-sm-3(for='confirm') Confirmation du mot de passe
            .col-sm-7
              input.form-control(type='password', name='confirm', id='confirm')
          .form-group
            .col-sm-4.col-sm-offset-3
              button.btn.btn-success(type='submit') Changer de mot de passe

    .panel
      .panel-body
        .form-horizontal
          legend Comptes attachés
          .form-group
            .col-sm-offset-3.col-sm-4
              if user.facebook
                p: a.text-danger(href='/unlink/facebook') Détacher votre compte Facebook
              else
                p: a(href='/auth/facebook') Lier à un compte Facebook
              if user.twitter
                p: a.text-danger(href='/unlink/twitter') Détacher votre compte Twitter
              else
                p: a(href='/auth/twitter') Lier à un compte Twitter
              if user.google
                p: a.text-danger(href='/unlink/google') Détacher votre compte Google
              else
                p: a(href='/auth/google') Lier à un compte Google

    .panel
      .panel-body
        form.form-horizontal(method='POST', action='/account?_method=DELETE')
          legend Supprimer le compte
          .form-group
            p.col-sm-offset-3.col-sm-9 Vous pouvez supprimer votre compte mais souvenez-vous que cette action est irréversible.
            .col-sm-offset-3.col-sm-9
              button.btn.btn-danger(type='submit') Supprimer mon compte
