extends ../layout

block content
  .container-fluid
    if messages.error
      .alert.alert-danger(role='alert')
        for error in messages.error
          div= error.msg
    if messages.success
      .alert.alert-success(role='alert')
        for success in messages.success
          div= success.msg
    if messages.info
      .alert.alert-info(role='alert')
        for info in messages.info
          div= info.msg
  .row
    .col-md-12
      form.navbar-form.navbar-right.inline-form(action="/rechercheUtilisateur" method="POST")
        .form-group
          input.input-sm.form-control(type='search', placeholder='Rechercher un utilisateur', name="rechercherUnAmi")
          button.btn.btn-primary.btn-sm(type='submit')
            span.glyphicon.glyphicon-eye-open Rehercher
  .row
    .col-md-12
      p Demande d'ami :
        each amiEnAttente in amisEnAttente
          #{amiEnAttente.friend.pseudo}
  .container.bootstrap.snippet.col-md-6
    .header
      h3.text-muted.prj-name
        span.fa.fa-users.fa-2x.principal-title
        |         Liste d'utilisateurs
    .jumbotron.list-content
      ul.list-group
        li.list-group-item.title(href='#')
          | Utilisateurs
        li.list-group-item.text-left(href='#')
          each membre in membres
            img.img-thumbnail(src='/uploads/' + membre.photo, width='150', height='75')
            label.name
              | #{membre.pseudo}
              br
            label.pull-right
              a.btn.btn-success.btn-xs(href='/account/' + membre.pseudo, title='Voir le profil') Profil
            .break
          hr
  .container.bootstrap.snippet.col-md-6
    .header
      h3.text-muted.prj-name
        span.fa.fa-users.fa-2x.principal-title
        |         Liste d'amis
    .jumbotron.list-content
      ul.list-group
        li.list-group-item.title(href='#')
          | Amis
        li.list-group-item.text-left(href='#')
          each ami in amis
            img.img-thumbnail(src='/uploads/' + ami.friend.photo, width='150', height='75')
            label.name
              | #{ami.friend.pseudo}
              br
            label.pull-right
              a.btn.btn-success.btn-sm.glyphicon.glyphicon-ok(href='/account/' + ami.friend.pseudo, title='Voir le profil')
              a.btn.btn-danger.btn-sm.glyphicon.glyphicon-trash(href='/deleteFriend/' + ami.friend.pseudo, title='Supprimer ami')
              a.btn.btn-info.btn-sm.glyphicon.glyphicon.glyphicon-comment(href='/chat', title='Envoi message')
            .break
          hr
  br
  br
  br
